@charset "utf-8";



/* .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(../img/image1.jpeg);
    text-align: center;
    padding: 64px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
} */



a {
    text-decoration: none;
    margin: 0;
    color: rgb(66, 158, 158);
}

a:hover {
    color: red;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 300px;
    border-bottom: 2px solid #aaa;
    background-color: rgb(200, 200, 255);
    padding: 64px 16px 16px;
    text-align: center;
}

h1 {
    font-size: 32px;
    padding-bottom: 0px;
    font-weight: normal;
    line-height: 1;
}

header p {
    font-style: 8px;
    line-height: 1;
    padding: 0;
}

#pi1 {
    border-radius: 80px;
    }


.runnning {
    margin: 0;
    width: 152px;
    height: 152px;
    position: absolute;
    top: 64px;
    left: calc( 50% - 80px );
    border-radius: 50%;
    border: 4px solid rgb(200, 200, 255);
    /* border: 4px solid rgb(200, 200, 255); */
    /* border-top: 4px solid #999;
    border-bottom: 4px solid rgb(200, 200, 255);
    border-left: 4px solid rgb(200, 200, 255);
    border-right: 4px solid rgb(200, 200, 255); */
    animation: spin 2023ms infinite forwards;}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }}


main {
    background-color: rgb(230, 230, 255);
    padding: 32px;
}

.menu {
    margin-left: auto;
}
main.div {
    margin-left: 64px;
}

h2 {
    padding-top: 16px;
    margin: 0;
    line-height: 1;
}

h3 {
    padding-top: 8px;
}